{% block maximizly_shipping_detail %}

<div class="sw-order-detail-heylight">
    <sw-card :title="$tc('HeyLight.order.detail.actions')">
        <sw-button-process
            class=""
            :isLoading="isLoading"
            :disabled="isLoading || !buttonEnabled"
            variant="primary"
            @click.prevent="submitRefund">
            {{ $tc('HeyLight.order.detail.actions_refund') }}
        </sw-button-process>
    </sw-card>
</div>

{% endblock %}
