{% block heylight_settings %}
<sw-page class="heylight-settings">
    {% block heylight_settings_header %}
    <template slot="smart-bar-header">
        <h2>
            {{ $tc('sw-settings.index.title') }}
            <sw-icon name="small-arrow-medium-right" small></sw-icon>
            {{ $tc('HeyLight.mainMenuItemGeneral') }}
        </h2>
    </template>
    {% endblock %}
    {% block heylight_actions %}
    <template #smart-bar-actions>
        {% block heylight_settings_actions_feedback %}
        <sw-button
            @click="isSupportModalOpen = true"
            :disabled="false"
            variant="ghost"
            :square="false"
            :block="false"
            :isLoading="false">
            {{ $tc('HeyLight.supportModal.supportButton') }}
        </sw-button>
        {% endblock %}
        {% block heylight_settings_actions_test %}
        <sw-button-process @click="onTest"
                           :isLoading="isTesting"
                           :processSuccess="isTestSuccessful"
                           :disabled="isLoading">
            {{ $tc('HeyLight.settingsForm.test') }}
        </sw-button-process>
        {% endblock %}


        {% block heylight_settings_actions_save %}
        <sw-button-process
            class="sw-settings-login-registration__save-action"
            :isLoading="isLoading"
            :processSuccess="isSaveSuccessful"
            :disabled="isLoading || isTesting"
            variant="primary"
            @process-finish="saveFinish"
            @click="onSave">
            {{ $tc('HeyLight.settingsForm.save') }}
        </sw-button-process>
        {% endblock %}
    </template>
    {% endblock %}
    {% block heylight_settings_content %}
    <template #content>
        <sw-modal
            v-if="isSupportModalOpen"
            @modal-close="isSupportModalOpen = false"
            :title="$tc('HeyLight.supportModal.title')"
            class="heidpay-support sw-modal--medium">
            <sw-container columns="1fr 1fr">
                <div class="heidpay-support__col">
                    <div class="heidpay-support__icon">
                        <sw-icon name="regular-file" :large="true"></sw-icon>
                    </div>
                    <p class="heidpay-support__desc">
                        {{ $tc('HeyLight.supportModal.manualDesc') }}
                    </p>
                    <sw-button
                        :disabled="false"
                        variant="primary"
                        :square="false"
                        :block="false"
                        :isLoading="false"
                        link="https://www.heidipay.com/de-ch/">
                        {{ $tc('HeyLight.supportModal.manualButton') }}
                    </sw-button>
                </div>
                <div class="heidpay-support__col">
                    <div class="heidpay-support__icon">
                        <sw-icon name="regular-headset" :large="true"></sw-icon>
                    </div>
                    <p class="heidpay-support__desc">
                        {{ $tc('HeyLight.supportModal.supportDesc') }}
                    </p>
                    <sw-button
                        :disabled="false"
                        variant="primary"
                        :square="false"
                        :block="false"
                        :isLoading="false"
                        link="mailto:kontakt@go2flow.ch">
                        {{ $tc('HeyLight.supportModal.supportButton') }}
                    </sw-button>
                </div>
            </sw-container>
        </sw-modal>

        <sw-card-view>
            <div class="sw-system-config">
                <div  class="sw-system-config__global-sales-channel-switch">
                    <h3>{{ $tc('HeyLight.settingsForm.attention') }}</h3>
                    <p style="margin-bottom: 10px;">{{ $tc('HeyLight.settingsForm.attentionText') }}</p>
                    <p style="margin-bottom: 10px;">{{ $tc('HeyLight.settingsForm.descriptionWebservice') }}</p>
                    <p style="margin-bottom: 10px;"><a href="https://merchant-portal.heidipay.com/auth/login" target="_blank" rel="noopener nofollow">Merchant-Portal</a> </p>
                </div>
            </div>
            <sw-system-config
                    ref="systemConfig"
                    domain="Go2FlowHeyLightPayment.settings"
                    sales-channel-switchable
                    :sales-channel-id="salesChannelId"
            />
        </sw-card-view>
    </template>
    {% endblock %}
</sw-page>
{% endblock %}

